<div class="frame_properties" data-ng-controller="FramePropertiesController">
    <ul>
        <li><input data-ng-model="properties.background" placeholder="background" type="text" /></li>
        <li><input data-ng-model="properties.music" placeholder="music" type="text" /></li>
        <li><input data-ng-model="properties.startingAnimation" placeholder="startingAnimation" type="text" /></li>
        <li><input data-ng-model="properties.startingAnimationDuration" placeholder="startingAnimationDuration" type="text" /></li>
        <li><input data-ng-model="properties.endingAnimation" placeholder="endingAnimation" type="text" /></li>
        <li><input data-ng-model="properties.endingAnimationDuration" placeholder="endingAnimationDuration" type="text" /></li>
    </ul>
</div>
