#stage .background{
width:800px;
height:600px;
}

.pr-draggable{
width:100px;
height:100px;
background:black;
border:2px solid grey;
color:white;
}

#widgets{
position:relative;
z-index:1;
}

.background{
position:relative;
z-index:0;
}

.actor{
position:absolute;
}

.frame_properties ul{
    list-style-type: none; 
    padding:0;
    margin:0;
}
.frame_properties ul li{
    padding:0;
}
